<html lang="en" ng-app="StarterApp">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
<head>
  <title>Dashboard | Coburra (Homeschool)</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
  <link rel="manifest" href="/static/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body layout="row" ng-controller="AppCtrl" ngCloak>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ngCloak >
    <header class="nav-header md-hue-2" style="background:#4527a0" >
      <a ng-href="/" class="docs-logo" >
        <img src="/static/img/coburra-logo-white-small.png" alt="" style="padding:10px"  />
      </a>
    </header>

    <md-toolbar class="md-hue-2" ngCloak>

      <div layout="column" class="md-toolbar-tools-bottom inset" ngCloak>

        <div>Dan Safee</div>
        <div style="font-size:12px">dan@danwins.com</div>
      </div>
    </md-toolbar>


      <md-menu>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="item in menu">
              <md-button>
                <md-icon aria-label="Menu" class="material-icons">{{item.icon}}</md-icon>
                {{item.title}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
          <md-menu-content>
          </md-menu-content>
        </md-menu>
      <md-divider></md-divider>
      <md-subheader>Management</md-subheader>

      <md-menu>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="item in admin">
              <md-button>
                <md-icon aria-label="Menu" class="material-icons">{{item.icon}}</md-icon>
                {{item.title}}
              </md-button>
            </md-menu-item>
          </md-menu-content>
          <md-menu-content>
          </md-menu-content>
        </md-menu>
  </md-sidenav>


  <div layout="column" class="relative" layout-fill role="main" ngCloak>
    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
      <md-icon aria-label="Menu" class="material-icons">add</md-icon>
    </md-button>





    <md-toolbar ng-show="!showSearch" ngCloak>
     <div class="md-toolbar-tools">
       <md-button ng-click="toggleSidenav('left')" hide-gt-md  class="md-icon-button" aria-label="Settings">
         <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
       </md-button>
       <h2>
         <span>Dashboard</span>
       </h2>
       <span flex></span>
       <md-button class="md-icon-button" aria-label="Favorite" ng-click="showSearch = !showSearch">
         <md-icon aria-label="Menu" class="material-icons">search</md-icon>
       </md-button>
       <md-button class="md-icon-button" aria-label="More" ng-click="showListBottomSheet($event)">
         <md-icon aria-label="Menu" class="material-icons">more_vert</md-icon>
       </md-button>
     </div>
   </md-toolbar>


    <md-toolbar class="md-hue-1" ng-show="showSearch" ngCloak>
      <div class="md-toolbar-tools">
        <md-button ng-click="showSearch = !showSearch" aria-label="Back" class="md-icon-button">
          <md-icon aria-label="Menu" class="material-icons">arrow_back</md-icon>
        </md-button>
        <md-input-container flex style="margin-bottom:-15px;">
          <input ng-model="search.who" placeholder="enter search">
        </md-input-container>
        <md-button aria-label="Search" ng-click="showSearch = !showSearch" class="md-icon-button">
          <md-icon aria-label="Menu" class="material-icons">search</md-icon>
        </md-button>
        <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)" class="md-icon-button">
          <md-icon aria-label="Menu" class="material-icons">more_vert</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
      <md-tab id="tab1" aria-controls="tab1-content">
        Students
      </md-tab>
      <md-tab id="tab2" aria-controls="tab2-content">
        Planner
      </md-tab>
    </md-tabs>



    <md-content ng-controller="AppToastCtrl" flex md-scroll-y ngCloak id="toastBounds">



      <ui-view layout="column"  layout-padding>
        <div class="inset" hide-sm></div>

        <ng-switch on="data.selectedIndex" class="tabpanel-container">
          <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">

            <md-card flex-gt-sm="90" flex-gt-md="80">

              <md-card-content>
                <h2>Students</h2>

                <md-list>
                  <md-list-item class="md-3-line" ng-repeat="item in students | filter:search">
                    <div class="md-tile-left inset" hide-sm>
                      <user-avatar></user-avatar>
                    </div>

                    <div class="md-list-item-text" layout="column">
                      <h3>{{ item.who }}</h3>
                      <h4>{{ item.what }}</h4>
                      <p>{{ item.notes }}</p>

                    </div>
                    <md-button ng-click="showCustomToast(item.who, 'error')">
                      Show Custom
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                  </md-list-item>

                  <md-list-item>
                    <md-button layout layout-align="center" flex class="md-primary" ng-click="showCustomToast('you clicked more', 'success')">
                      <md-icon aria-label="Menu" class="material-icons">arrow forward</md-icon> More
                    </md-button>
                  </md-list-item>
                </md-list>
              </md-card-content>
            </md-card>
          </div>
          <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" layout="row" layout-align="center center">
            <md-card flex-gt-sm="90" flex-gt-md="80">
              <md-card-content>
                <h2>Planner</h2>
                <md-list>
                  <md-list-item class="md-3-line" ng-repeat="item in students | filter:search | orderBy:'-what'">
                    <div class="md-tile-left inset" hide-sm>
                      <user-avatar></user-avatar>
                    </div>

                    <div class="md-list-item-text" layout="column">
                      <h3>{{ item.who }}</h3>
                      <h4>{{ item.what }}</h4>
                      <p>{{ item.notes }}</p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                  </md-list-item>

                  <md-divider></md-divider>
                  <md-list-item>
                    <md-button layout layout-align="start center" flex class="md-primary" ng-click="showSimpleToast()">
                        <md-icon aria-label="Menu" class="material-icons">arrow forward</md-icon> More
                            </md-button>
                        </md-list-item>
                      </md-list>
                    </md-card-content>
                  </md-card>
              </div>

          </ng-switch>

        </ui-view>
      </md-content>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

    <script src="/static/js/menu.js"></script>
    <script src="/static/js/admin.js"></script>
    <script src="/static/js/students.js"></script>
    <script src="/static/js/app.js"></script>

  </body>
</html>
